---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="/console-message.js" async></script>

    <title>About | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}
    <main id="maincontent">
        <div class="section grey-background checkerboard-grid grid-no-gap grid-picture-first">
            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="/images/about-hero-800.jpg" />
                    <img src="/images/about-hero-600-450.jpg" style="object-position: 75% center;"
                        alt="Trainer demonstrating software development on a whiteboard" />
                </picture>
                <div class="text black-text grey-background">
                    <h1>About Us</h1>
                    <h2>Retrain as a Software Developer with TechSwitch</h2>
                    <p>TechSwitch was founded in 2019 on the belief that great software developers can come from any
                        background.</p>
                    <p>Through the TechSwitch programme, you can retrain as a software engineer on our 12-week
                        bootcamp. Once you complete the course, we’ll help find you an 18-month industry placement.</p>
                    <p>Explore our course today and get in touch with any questions.</p>

                    <div class="button-row button-row-gap-above">
                        <a href="/contact" class="button button-black-on-yellow-on-black">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section white-background">
            <h2>Why TechSwitch?</h2>
            <p class="significant-text-block">First, your paid placement gives you financial security and priceless industry experience.</p>
            <p class="significant-text-block">Second, we have a strong focus on diversity and recruit people based on their potential rather than
                experience or ability to pay.</p>
            <p class="significant-text-block">And third, you’ll be taught by a team of people who work at the cutting edge of the tech sector, day-in,
                day-out. We’ve built software to stream Glastonbury’s headliners. We’ve helped shape key UK government
                cloud computing roadmaps. We worked with DeepMind and Moorfields Eye Hospital to use artificial
                intelligence to diagnose sight-threatening eye diseases.</p>
            <p class="significant-text-block">You’ll learn first-hand what it takes to build software that can change lives and improve the world we
                live in.</p>
            <p class="significant-text-block">And you’ll be in good company. We’ve almost 20 years’ experience in training people to become outstanding
                software engineers. These individuals have gone on to work for organisations such as Google DeepMind,
                Anthony Nolan, Square Enix and END. menswear</p>
            <h3 class="significant-text-block">Where could your tech career take you?</h3>
            <div class="button-row button-row-gap-above">
                <a href="/application-form.html" class="button button-black-on-yellow-on-black">Apply Now</a>
            </div>
        </div>

        <div class="section grey-background">
            <h2>Our Team</h2>

            <div class="our-team">

                <div class="person">
                    <picture>
                        <img src="/images/headshots-sophia-180.jpg" alt="Photo of Sophia Lin">
                    </picture>
                    <h3>Sophia<br aria-hidden="true" />Lin</h3>
                    <p>Head of Sales & Marketing</p>
                </div>

                <div class="person">
                    <picture>
                        <img src="/images/headshots-sasha-180.jpg" alt="Photo of Sasha Burgoyne">
                    </picture>
                    <h3>Sasha Burgoyne</h3>
                    <p>Head of Operations</p>
                </div>

                <div class="person">
                    <picture>
                        <img src="/images/headshots-gareth-180.jpg" alt="Photo of Gareth Johnson">
                    </picture>
                    <h3>Gareth Johnson</h3>
                    <p>Programme Manager</p>
                </div>

                <div class="person">
                    <picture>
                        <img src="/images/headshots-rosalyn-180.jpg" alt="Photo of Rosalyn Garston">
                    </picture>
                    <h3>Rosalyn Garston</h3>
                    <p>Legal</p>
                </div>

                <div class="person">
                    <picture>
                        <img src="/images/headshots-zoe-180.jpg" alt="Photo of Zoe Cunningham">
                    </picture>
                    <h3>Zoe Cunningham</h3>
                    <p>Non-Executive Director</p>
                </div>

                <div class="person">
                    <picture>
                        <img src="/images/headshots-oskar-180.jpg" alt="Photo of Oskar Williams">
                    </picture>
                    <h3>Oskar Williams</h3>
                    <p>Trainer</p>
                </div>

                <div class="person">
                    <picture>
                        <img src="/images/headshots-mike-180.jpg" alt="Photo of Mike Walker">
                    </picture>
                    <h3>Mike<br aria-hidden="true" />Walker</h3>
                    <p>Trainer</p>
                </div>

                <div class="person">
                    <picture>
                        <img src="/images/headshots-christian-180.jpg" alt="Photo of Christian McCaffery">
                    </picture>
                    <h3>Christian McCaffery</h3>
                    <p>Trainer</p>
                </div>

            </div>
        </div>
    </main>

    {% include our-recent-techswitchers.html %}

    {% include get-in-touch.html content="TechSwitch,<br />Unit 110 Highgate Studios,<br />53-79 Highgate
    Rd,<br />London<br />NW5 1TL, UK" %}

    {% include footer.html %}

</body>

</html>