---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">
            <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3GM4T5');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src='https://www.clarity.ms/tag/'+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "a532331rj3");
    </script>

        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="/contact-form.js" async></script>
        <script src="/console-message.js" async></script>

        <title>Contact | TechSwitch</title>

        {% include analytics.html %}
    </head>
    <body>
        {% include header.html %}

        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3GM4T5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    

        <main id="maincontent">
            <div class="section white-background">
                <div class="medium-width-block black-text grey-background">
                    <h1 id="contact-us-title">Contact us</h1>
                    <p>
                        TechSwitch,<br />
                        Unit 110 Highgate Studios,<br />
                        53-79 Highgate Rd,<br />
                        London<br />
                        NW5 1TL<br />
                        UK
                    </p>
                    <p><a href="mailto:info@techswitch.co.uk">info@techswitch.co.uk</a></p>
                    <p><a href="tel:+442039283005">02039283005</a></p>

                    <form class="contact-us-form" id="contact-us-form" action="" onsubmit="submitForm()">
                        <input required type="text" id="contact-us-form-name" placeholder="Name" aria-describedby="contact-us-title" />
                        <input required type="email" id="contact-us-form-email" placeholder="Email" aria-describedby="contact-us-title" />
                        <textarea required rows="6" id="contact-us-form-message" placeholder="Message" aria-describedby="contact-us-title"></textarea>
                        <input type="submit" class="submit-button spinner" value="Send" aria-describedby="contact-us-title"/>
                        <div class="error-message">Sorry, that didn't work.<br aria-hidden="true" />Please try emailing us at <a href="mailto:info@techswitch.co.uk">info@techswitch.co.uk</a></div>
                    </form>
                </div>
                <div>
                    <iframe
                        class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.781419095727!2d-0.14646968371981772!3d51.5539069796428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761afef738a5cb%3A0x9c8b9735a1534805!2sSoftwire!5e0!3m2!1sen!2suk!4v1557317054169!5m2!1sen!2suk"
                        frameborder="0" allowfullscreen="false"
                    ></iframe>
                </div>
            </div>
        </main>

        {% include footer.html %}

    </body>
    <script>
        function submitForm() {
            submitContactUsForm();
            return false
        }
    </script>
</html>
