---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="description"
      content="Make a career change into tech with our 12-week software development bootcamp."
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K3GM4T5");
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "a532331rj3");
    </script>

    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="/contact-form.js" async></script>
    <script src="/console-message.js" async></script>

    <title>Course | TechSwitch</title>

    {% include analytics.html %}
  </head>

  <body>
    {% include header.html %}

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K3GM4T5"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main id="maincontent">
      <div class="section white-background hero-banner grid-no-gap">
        <div class="row">
          <div class="text black-text grey-background">
            <h1>Apply to our August bootcamp</h1>

            <div class="button-row button-row-gap-above">
              <a
                href="/how-to-apply"
                class="button button-black-on-yellow-on-black"
                >How to Apply</a
              >
              <a
                href="/application-form.html"
                class="button button-black-on-yellow-on-black"
                >Application Form</a
              >
            </div>
          </div>
          <picture>
            <source
              media="(orientation: landscape) and (min-width: 961px)"
              srcset="/images/course-hero-800.jpg"
            />
            <source
              media="(orientation: landscape) and (min-width: 526px)"
              srcset="/images/course-hero-800.jpg"
            />
            <source
              media="(orientation: landscape)"
              srcset="/images/course-hero-800.jpg"
            />
            <source
              media="(orientation: portrait) and (min-width: 641px)"
              srcset="/images/course-hero-800.jpg"
            />
            <source
              media="(orientation: portrait) and (min-width: 351px)"
              srcset="/images/course-hero-800.jpg"
            />
            <source
              media="(orientation: portrait)"
              srcset="/images/course-hero-800.jpg"
            />
            <img
              src="/images/course-hero-800.jpg"
              style="object-position: 75% 25%"
              alt="Bootcamp trainer presenting to learners on software development"
            />
          </picture>
        </div>
      </div>

      <div class="significant-text-block">
        <h2>Always wanted to get into tech? Now you can.</h2>
        <p>
          Take your first step towards becoming a Software Developer by applying
          to our bootcamp.
        </p>
        <h3>
          Our next Bootcamp starts in <br />
          August 2022
        </h3>
        <div class="button-row button-row-gap-above">
          <a
            href="/application-form.html"
            class="button button-black-on-yellow-on-black"
            >Apply Now</a
          >
        </div>
      </div>

      <div
        class="section white-background checkerboard-grid grid-no-gap grid-text-first"
      >
        <div class="row">
          <picture>
            <source media="(min-width: 601px)" srcset="/images/the-t-800.jpg" />
            <img
              src="/images/the-t-letterbox-560-187.jpg"
              alt="Learner with T made of post-its behind them"
            />
          </picture>
          <div class="text black-text grey-background">
            <h2>Who it's for</h2>
            <p>
              TechSwitch is for anyone from any background who wants to make the
              move into tech For example, you might be…
            </p>
            <ul>
              <li>
                Working in another sector and wanting a career change, perhaps
                for a better work-life balance or more challenging role
              </li>
              <li>
                On a career break, and looking to return to work in a way that
                fits around your life
              </li>
              <li>
                Just out of university or college, and keen to be part of the
                vibrant tech industry
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <picture>
            <source
              media="(min-width: 601px)"
              srcset="/images/woman-training-800.jpg"
            />
            <img
              src="/images/woman-training-letterbox-560-187.jpg"
              style="object-position: 75% center"
              alt=""
            />
            <!-- alt="" because this image is just for decoration -->
          </picture>
          <div class="text black-text grey-background">
            <h2>What we teach</h2>
            <p>
              The course focuses on teaching Fullstack Development. So we start
              with JavaScript and lead into further web development (React,
              Typescript, HTML, CSS) and then bring in C#/.NET as the backend
              technology. There are two group projects during the course, one
              after the initial web development section and a final large group
              project at the end of the course which incorporates everything you
              have learnt over the 12-weeks.
            </p>
          </div>
        </div>

        <div class="row">
          <picture>
            <source
              media="(min-width: 601px)"
              srcset="/images/academy-wall-800.jpg"
            />
            <img
              src="/images/academy-wall-letterbox-560-187.jpg"
              style="object-position: 81% center"
              alt=""
            />
            <!-- alt="" because this image is just for decoration -->
          </picture>
          <div class="text black-text grey-background">
            <h2>The TechSwitch Package</h2>
            <ul>
              <li>
                12-week software engineering bootcamp in a relaxed environment
              </li>
              <li>Top of the range equipment throughout your training</li>
              <li>
                £30,000 annual salary for the duration of your 18-month
                placement
              </li>
              <li>Pension scheme</li>
              <li>20 days' holiday</li>
              <li>Wellbeing activities</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section white-background black-text">
        <h2>Our next bootcamp starts in August 2022</h2>

        <div class="button-row button-row-gap-above">
          <a
            href="/application-form"
            class="button button-black-on-yellow-on-black"
            >Apply here</a
          >
        </div>
      </div>
    </main>

    {% include get-in-touch.html content="If you're interested in applying or
    just want to know more, drop us a line here!" %} {% include footer.html %}
  </body>
</html>
