---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="contact-form.js" async></script>
    <script src="console-message.js" async></script>

    <title>Course Information | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}

    <main id="maincontent">
        <div class="hero-box">
            <picture>
                <source media="(orientation: landscape) and (min-width: 961px)"
                    srcset="images/course-hero-1920-1280.jpg" />
                <source media="(orientation: landscape) and (min-width: 526px)"
                    srcset="images/course-hero-960-640.jpg" />
                <source media="(orientation: landscape)" srcset="images/course-hero-525-350.jpg" />
                <source media="(orientation: portrait) and (min-width: 641px)"
                    srcset="images/course-hero-1280-1280.jpg" />
                <source media="(orientation: portrait) and (min-width: 351px)"
                    srcset="images/course-hero-640-640.jpg" />
                <source media="(orientation: portrait)" srcset="images/course-hero-350-350.jpg" />
                <img src="images/course-hero-1920-1280.jpg" style="object-position: 75% 25%;"
                    alt="Trainer demonstrating agile software development to learners on the bootcamp." />
            </picture>
            <h1 class="tagline-phrase">
                <span class="tagline">The 12-week bootcamp to <br aria-hidden="true" /> launch your tech career</span>
            </h1>
        </div>
        <div class="button-row float-over-hero-image">
            <a href="/application-form" class="button button-black-on-yellow-on-black">Application Form</a>
        </div>

        <div class="section black-background white-text">

            <h2>Retrain as a software developer with TechSwitch</h2>
            <div class="full-width-text">
                <p>Create products that change lives. Work with technologies at the forefront of innovation.<br />Shape
                    the very future of our planet. And enjoy a great work-life balance.</p>
                <p>These are just some of the reasons we love working in the tech sector.<br aria-hidden="true" />And
                    now you can too, even if you’ve never written a line of code.</p>
                <p>Thanks to the TechSwitch programme, you can retrain as a software engineer on our 12-week bootcamp.
                    Once you complete the course, we’ll help find you an 18-month industry placement – and pay
                    successful placements £30,000 per year.</p>
            </div>

            <div class="button-row button-row-gap-above">
                <a href="/application-form" class="button button-yellow-on-black-on-black">Apply here</a>
            </div>
        </div>

        <div class="section yellow-background black-text">
            <h2>Take the bootcamp from the comfort of your own home</h2>
            <div class="full-width-text">
                <p>In these uncertain times we want to make sure you feel as safe and supported in your learning as possible. </p>
                <p>Our course is now completely remote while containing the same content and continuing to allow you to pair virtually with your trainer and other learners.</p>
            </div>
        </div>

        <div class="section black-background white-text checkerboard-grid grid-with-gap grid-text-first">
            <h2>More information</h2>

            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="images/mike-training-square-600.jpg" />
                    <img src="images/mike-training-letterbox-560-187.jpg" style="object-position: 46% center;" alt="" />
                    <!-- alt="" because this image is just for decoration -->
                </picture>
                <div class="text black-text yellow-background">
                    <h2>Who it's for</h2>
                    <p>TechSwitch is for anyone from any background who want to make the move into the tech sector.</p>
                    <p>For example, you might be…</p>
                    <ul>
                        <li>Working in another sector and wanting a career change, perhaps for a better work-life
                            balance or more challenging role</li>
                        <li>Just out of university or college, and keen to be part of the vibrant tech industry</li>
                        <li>On a career break, and looking to return to work in a way that fits around your life</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="images/retro-square-600.jpg" />
                    <img src="images/retro-letterbox-560-187.jpg" style="object-position: 87% center;" alt="" />
                    <!-- alt="" because this image is just for decoration -->
                </picture>
                <div class="text black-text yellow-background">
                    <h2>What you get from TechSwitch</h2>
                    <ul>
                        <li>A 12-week bootcamp, to train you in the basics of software development and dive into
                            programming languages that will help you hit the ground running on your placement. We also
                            provide training in agile ways of working, DevOPs, software design, testing and relevant
                            soft skills.</li>
                        <li>A personal mentor: Changing careers is a big leap. To support you on this journey, we
                            provide a mentor, who will keep in touch with you throughout bootcamp and your placement,
                            giving career advice and taking care of your wellbeing.</li>
                        <li>Help securing an 18-month paid industry placement, where you’ll be part of a development
                            team, writing code and building up valuable software engineering skills and experience.</li>
                    </ul>
                    <p>Once you complete your placement, the skills and experience you gain will put you in high demand
                        in the job market. You may have the opportunity to continue your career at the organisation
                        which provided your placement. Alternatively, you’ll be well set to secure one of the myriad
                        tech sector jobs in London and beyond.</p>
                </div>
            </div>

            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="images/brand-square-600.jpg" />
                    <img src="images/brand-letterbox-560-187.jpg" style="object-position: 95% center;" alt="" />
                    <!-- alt="" because this image is just for decoration -->
                </picture>
                <div class="text black-text yellow-background">
                    <h2>The TechSwitch package: At-a-glance</h2>
                    <ul>
                        <li>12-week software engineering bootcamp in a relaxed environment</li>
                        <li>£30,000 annual salary for the duration of your 18-month placement</li>
                        <li>Pension scheme</li>
                        <li>20 days' holiday</li>
                        <li>Wellbeing activities</li>
                        <li>You pay a £500 deposit – but this is refunded in full once you secure a placement and we
                            also have bursaries available.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section yellow-background black-text">
            <h2>Why TechSwitch?</h2>
            <div class="full-width-text">
                <p>First, your paid placement gives you financial security and priceless industry experience.</p>
                <p>Second, we have a strong focus on diversity and recruit people based on their potential rather than
                    solely experience.</p>
                <p>And third, you’ll be taught by a team of people who work at the cutting edge of the tech sector,
                    day-in, day-out. We’ve built software to stream Glastonbury’s headliners. We’ve helped shape key UK
                    government cloud computing roadmaps. We worked with DeepMind and Moorfields Eye Hospital to use
                    artificial intelligence to diagnose sight-threatening eye diseases.</p>
                <p>You’ll learn first-hand what it takes to build software that can change lives and improve the world
                    we live in.</p>
                <p>And you’ll be in good company. We’ve almost 20 years’ experience in training people to become
                    outstanding software engineers. These individuals have gone on to work for organisations such as
                    Google DeepMind, Anthony Nolan, Square Enix and END. menswear</p>
            </div>
        </div>

        <div class="section black-background white-text">
            <h2>Where could your tech career take you?</h2>

            <div class="button-row button-row-gap-above">
                <a href="/application-form" class="button button-yellow-on-black-on-black">Apply Now</a>
            </div>
        </div>
    </main>

    {% include get-in-touch.html content="If you're interested in applying or just want to know more, drop us a line here!" %}

    {% include footer.html %}

</body>

</html>