---
---

<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3GM4T5');</script>
    <!-- End Google Tag Manager -->

    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/contact-form.js" async></script>
    <script src="/console-message.js" async></script>

    <title>FAQ | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3GM4T5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    

    <main id="maincontent">
        <div class="hero-box">
            <picture>
                <source media="(orientation: landscape) and (min-width: 961px)"
                    srcset="/images/hire-hero-1920-1280.jpg" />
                <source media="(orientation: landscape) and (min-width: 526px)"
                    srcset="/images/hire-hero-960-640.jpg" />
                <source media="(orientation: landscape)" srcset="/images/hire-hero-525-350.jpg" />
                <source media="(orientation: portrait) and (min-width: 641px)"
                    srcset="/images/hire-hero-1280-1280.jpg" />
                <source media="(orientation: portrait) and (min-width: 351px)" srcset="/images/hire-hero-640-640.jpg" />
                <source media="(orientation: portrait)" srcset="/images/hire-hero-350-350.jpg" />
                <img src="/images/hire-hero-1920-1280.jpg" style="object-position: 70% 65%;"
                    alt="Learners pairing on a software development exercise at a computer. Woman on the left, man on the right." />

            </picture>
            <div class="full-page-header">
                <h1 class="tagline-phrase">
                    <span class="tagline">Frequently Asked Questions</span>
                </h1>
            </div>
        </div>

        <div class="margin-between white-background">

            <div class="two-columns grey-background black-text">

                <h3>General Questions</h3>
                <div>
                    <h4>Are there any necessary qualifications?</h4>
                    <p>No! If you have done some hobby coding in your spare time that might help you find your feet
                        quicker
                        but it definitely isn't necessary.</p>
                </div>
                <div>
                    <h4>How long is the course?</h4>
                    <p>The course consists of 12 weeks of training, followed by an 18-month job placement in industry
                        with
                        the option of making that a permanent role.</p>
                </div>
                <div>
                    <h4>Do you need any previous coding experience?</h4>
                    <p>No! No previous experience is required. We will provide all the training you need to become a
                        confident software developer. However, upon application we will provide you with pre-reading
                        which
                        will enable you to take the technical tests we set. Please give yourself time to study this
                        before
                        taking the tests.</p>
                </div>
                <div>
                    <h4>I'm currently studying, can I take this bootcamp at the same time?</h4>
                    <p>Unfortunately, the course and placement are both full-time so you would be unable to study
                        alongside taking our
                        bootcamp and working during the placement.</p>
                </div>
                <h3>Course Details</h3>
                <div>
                    <h4>What are the hours and where is it?</h4>
                    <p> Teaching hours are 10am-4pm from Mon-Fri. The initial 12-week bootcamp is ordinarily based in
                        our offices in north London, but currently will be held remotely to ensure the safety of our
                        staff and learners.</p>
                </div>
                <div>
                    <h4>What languages/technology do you teach?</h4>
                    <p>The course focuses on Fullstack Development. So we start with JavaScript and lead into further
                        web development (React, Typescript, HTML, CSS) and then bring in C#/.NET as the backend
                        technology. </p>
                </div>
                <div>
                    <h4>How much is the course?</h4>
                    <p>Free! We want learners with potential to be great software developers, not just those who can pay
                        a large course fee.</p>
                </div>
                <div>
                    <h4>What is the course structure?</h4>
                    <p>The first three weeks will be spent on a bootcamp going through a series of exercises which
                        increase in difficulty as you go along. We then introduce more general web development and
                        finish this up with a group project. After this we introduce backend/server side technology and
                        work through a number of exercises around this. For the final three weeks you will complete a
                        group project. Throughout the course there will also be training in Agile practices, soft skills
                        and interview techniques.
                    </p>
                </div>
                <div>
                    <h4>What size are the cohorts?</h4>
                    <p>Cohorts range in size between 5-10 learners. We keep them small to make sure you get enough
                        one-to-one time with the trainer.</p>
                </div>
                <h3>Placements</h3>
                <div>
                    <h4>Do I get a say in where my placement is?</h4>
                    <p>Yes! We won't force you to take a placement you don't want but this is also why we can't
                        guarantee
                        that we find you a job as it is up to you to interview at for the placement and accept the role.
                    </p>
                </div>
                <div>
                    <h4>Will I be paid a salary?</h4>
                    <p>Not during the 12 week training, but once you have successfully completed that we will pay you a
                        £30,000 salary.</p>
                </div>
                <div>
                    <h4>Will the placement be based in London?</h4>
                    <p>The vast majority of our placements are based in London but on the off-chance they are based
                        elsewhere we will offer a relocation package.</p>
                </div>
            </div>
        </div>

        <div class="section white-background">
            <p class="medium-width-text black-text">
                If you have any other questions please drop us an email at <a
                    href="mailto:info@techswitch.co.uk">info@techswitch.co.uk</a> or use the contact form below.
            </p>
        </div>
    </main>

    {% include get-in-touch.html content="TechSwitch,<br />Unit 110 Highgate Studios,<br />53-79 Highgate
    Rd,<br />London<br />NW5 1TL, UK" %}

    {% include footer.html %}
</body>

</html>