---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3GM4T5');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src='https://www.clarity.ms/tag/'+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "a532331rj3");
    </script>

    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/contact-form.js" async></script>
    <script src="/console-message.js" async></script>

    <title>Hire | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3GM4T5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    

    <main id="maincontent">
        <div class="hero-box">
            <picture>
                <source media="(orientation: landscape) and (min-width: 961px)"
                    srcset="/images/hire-hero-1920-1280.jpg" />
                <source media="(orientation: landscape) and (min-width: 526px)"
                    srcset="/images/hire-hero-960-640.jpg" />
                <source media="(orientation: landscape)" srcset="/images/hire-hero-525-350.jpg" />
                <source media="(orientation: portrait) and (min-width: 641px)"
                    srcset="/images/hire-hero-1280-1280.jpg" />
                <source media="(orientation: portrait) and (min-width: 351px)" srcset="/images/hire-hero-640-640.jpg" />
                <source media="(orientation: portrait)" srcset="/images/hire-hero-350-350.jpg" />
                <img src="/images/hire-hero-1920-1280.jpg" style="object-position: 70% 65%;"
                    alt="Learners pairing on a software development exercise at a computer. Woman on the left, man on the right." />

            </picture>
            <div class="full-page-header narrow-height-padding">
                <h1 class="tagline-phrase">
                    <span class="tagline">HELP SHAPE THE NEXT GENERATION OF TECH TALENT</span>
                </h1>
                <div class="tagline-phrase">
                    <span class="tagline-medium">Looking for diverse software development talent? Hire a
                        TechSwitcher</span>

                </div>
            </div>
        </div>
        <div class="text-no-image">
            <div class="significant-text-block">
                Over the past 20 years, Softwire has been recruiting and training great
                developers for their own internal hiring and for clients. With these years of proven experience
                in training, developing and retaining software engineers, we are now also applying this same
                knowledge and expertise to training those wanting a career change into tech; providing our
                hiring partners with access to an untapped pool of talent, trained to exceptional standards in a
                wide range of technologies.
            </div>
            <div class="button-row button-row-gap-above">
                <a href="/contact" class="button button-black-on-yellow-on-black">Become a Hiring Partner</a>
            </div>
        </div>
        <div class="section white-background black-text">
            <hr>
            <h2>Our latest cohort are now placement ready</h2>
            <div class="button-row button-row-gap-above">
                <a href="/contact" class="button button-black-on-yellow-on-black">Get in touch</a>
            </div>
            <hr>
        </div>
        <div class="section white-background black-text">
            <h2>THE TECHSWITCH MODEL</h2>
            <div class="column-container">
                <div class="column-item grey-background">
                    <h3>RECRUITMENT & SELECTION</h3>
                    <p>We recruit based on aptitude, attitude and motivation. Applicants go through our in-house
                        recruitment and selection process:</p>
                    <p>1. APPLICATION FORM</p>
                    <p>CV + Cover Letter</p>
                    <p>2. ONLINE TESTS</p>
                    <p>Pre-reading + Coding Exercise + Logic Exercises</p>
                    <p>3. INTERVIEWS</p>
                    <p>Coding Challenge + General Interview</p>
                </div>
                <div class="column-item grey-background">
                    <h3>BOOTCAMP</h3>
                    <p>12-week Software Development bootcamp designed by industry-leading software engineers.</p>
                    <p>The course equips our learners with the skills required to contribute to a wide range of
                        projects.</p>
                    <p>Software Development is the main focus but it doesn’t stop there, our learners also gain
                        experience in planning and designing solutions, managing projects, as well as testing code
                        effectively.</p>
                    <div class="button-row button-row-gap-above">
                        <a href="/course.html" class="button button-black-on-yellow-on-black">Course Info</a>
                    </div>
                </div>
                <div class="column-item grey-background">
                    <h3>PLACEMENTS & HIRING</h3>
                    <p>Once the bootcamp is underway and the learners have settled down into their training, we share
                        their profiles with our hiring partners. This includes a TechSwitch-format technical CV as well
                        as a one-page biography introducing themselves.</p>
                    <p>We are flexible in terms of how you want to assess our learners and are happy to facilitate any
                        interviews, tests, etc. </p>
                    <p>Post-bootcamp, learners (‘TechSwitchers’) progress to become full-time employees of TechSwitch
                        and start their placements with our hiring partners.</p>
                    <p>During the placement, you will have the opportunity to evaluate the TechSwitcher’s performance
                        and cultural fit prior to converting them to your permanent employ.</p>
                </div>
            </div>
        </div>

        <div class="section white-background checkerboard-grid grid-no-gap grid-text-first">
            <div class="row">
                <picture>
                    <source media="(min-width: 601px)" srcset="/images/trainer-with-learner-800.jpg" />
                    <img src="/images/trainer-with-learner-letterbox-560-187.jpg"
                        alt="Trainer presents part of the coding bootcamp" />
                </picture>
                <div class="text black-text grey-background">
                    <h2>Hiring Approach</h2>
                    <h3>Standard Programme</h3>
                    <p>Preferred approach if you are looking to hire smaller numbers, perhaps 1s or 2s. You will have
                        access to select candidates from our pre-existing or scheduled cohorts.
                    </p>
                    <h3>Or</h3>
                    <h3>Bespoke Programme</h3>
                    <p>Preferred approach for hiring larger volumes, requiring 8+ hires. You can have significant input
                        into the timelines, initial recruitment process, and the topics and technologies included in the
                        course.</p>
                    <div class="button-row button-row-gap-above">
                        <a href="/contact.html" class="button button-black-on-yellow-on-black">Get In Touch</a>
                    </div>
                </div>

            </div>

        </div>


        <div class="section white-background black-text">
            <h2>Partnering with TechSwitch</h2>

            <div class="row">
                <div class="text-no-image black-text grey-background">
                    <h2 class="uppercase">A Focus on Diversity</h2>
                    <p>We are passionate about closing the diversity gap and tackling the skills shortage within the UK
                        tech sector, and we made a few changes to our model in order to achieve more meaningful results
                        in this area. Unlike the majority of bootcamps in the market, we do not charge our learners any
                        fees for the training. By adopting this approach, we believe it reduces barriers to entry,
                        making tech careers more accessible, and attracts a greater diversity of candidates. This
                        enables us to recruit individuals with diverse backgrounds, skillsets and life experiences; in
                        turn, supporting you in building a more diverse workforce and encouraging greater gender,
                        ethnic, age and cognitive diversity in the tech sector. </p>
                    <a href="/diversity.html" class="button button-black-on-yellow-on-black">Find Out More</a>
                </div>
            </div>

            <div class="row">
                <div class="text-no-image black-text grey-background">
                    <h2 class="uppercase">Supporting career changers & returners</h2>
                    <p>We appreciate that it takes real courage to change career path, so as career changers, our
                        TechSwitchers tend to be focused, driven, passionate individuals who aren’t afraid to start over
                        and try something new. They are automatically more open to learning, thinking creatively, and
                        collaborating. They bring with them a wide range of skills from their ‘previous lives’ which can
                        lead to more innovative thinking and different ways of looking at problems and situations.</p>
                    <a href="/blog.html" class="button button-black-on-yellow-on-black">Meet Our Alumni</a>
                </div>
            </div>


            <div class="text-no-image black-text grey-background">
                <h2 class="uppercase">COMMERCIALLY RELEVANT TRAINING</h2>
                <p>Our 12 week bootcamp provides commercially relevant training, delivered by a team of people who work
                    at the cutting edge of the tech sector, day in, day out. We have low learner to trainer ratios
                    (maximum of 10 learners per cohort), which means that our learners get lots of 1 on 1 attention from
                    an expert software engineer. The training equips our learners with the skills required to contribute
                    to a wide range of projects. Learners have the opportunity to work on a number of short projects and
                    exercises, increasing in scale and complexity over the course of the programme.</p>
                <a href="/course.html" class="button button-black-on-yellow-on-black">Our Course</a>
            </div>

            <div class="text-no-image black-text grey-background">
                <h2 class="uppercase">JUNIOR DEVELOPERS WITH A GENUINE UNDERSTANDING</h2>
                <p>We believe that as a Developer, it’s far more important to understand the fundamental principles of
                    Software Development than it is to know exactly how to do any one particular task. Everyone has
                    access to resources such as Stack Overflow but those resources won’t usually help explain the bigger
                    picture, or why one approach might be better than another. The most valuable employees are the ones
                    who understand the objectives and requirements – even the ones that aren’t made explicit - and can
                    use their own judgement and experience as they research the best way of implementing the detail.</p>
            </div>

    </main>

    {% include our-recent-techswitchers.html %}

    {% include get-in-touch.html content="Interested in hiring software developers from TechSwitch? Get in touch for
    more details." %}

    {% include footer.html %}

</body>

</html>