---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">

    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/contact-form.js" async></script>
    <script src="/console-message.js" async></script>

    <title>Hire | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}

    <main id="maincontent">
        <div class="hero-box">
            <picture>
                <source media="(orientation: landscape) and (min-width: 961px)"
                    srcset="/images/hire-hero-1920-1280.jpg" />
                <source media="(orientation: landscape) and (min-width: 526px)"
                    srcset="/images/hire-hero-960-640.jpg" />
                <source media="(orientation: landscape)" srcset="/images/hire-hero-525-350.jpg" />
                <source media="(orientation: portrait) and (min-width: 641px)"
                    srcset="/images/hire-hero-1280-1280.jpg" />
                <source media="(orientation: portrait) and (min-width: 351px)" srcset="/images/hire-hero-640-640.jpg" />
                <source media="(orientation: portrait)" srcset="/images/hire-hero-350-350.jpg" />
                <img src="/images/hire-hero-1920-1280.jpg" style="object-position: 70% 65%;"
                    alt="Learners pairing on a software development exercise at a computer. Woman on the left, man on the right." />

            </picture>
            <div class="full-page-header narrow-height-padding">
                <h1 class="tagline-phrase">
                    <span class="tagline">WORKING IN PARTNERSHIP TO HELP SHAPE THE NEXT GENERATION OF TECH TALENT</span>
                </h1>
                <div class="tagline-phrase">
                    <span class="tagline-medium">Looking to hire diverse software development talent? Hire a
                        TechSwitcher</span>

                </div>
            </div>
        </div>
        <div class="grey-background text-no-image">
            <div class="significant-text-block">
                Over the past 20 years, Softwire has been recruiting and training great
                developers for their own internal hiring and for clients. With these years of proven experience
                in training, developing and retaining software engineers, we are now also applying this same
                knowledge and expertise to training those wanting a career change into tech; providing our
                hiring partners with access to an untapped pool of talent, trained to exceptional standards in a
                wide range of technologies.
            </div>
            <div class="button-row button-row-gap-above">
                <a href="/contact" class="button button-black-on-yellow-on-black">Get in touch</a>
                <a href="/course" class="button button-black-on-yellow-on-black">More info</a>
            </div>
        </div>
        <div class="section white-background black-text">
            <h2>THE TECHSWITCH MODEL</h2>
            <div class="column-container">
                <div class="column-item grey-background">
                    <h3>RECRUITMENT & SELECTION</h3>
                    <p>Applicants go through our in-house recruitment and selection process:
                    <p>1. APPLICATION FORM</p>
                    <p>CV + Cover Letter</p>
                    <p>2. ONLINE TESTS</p>
                    <p>Pre-reading + Coding, Logic</p>
                    <p>3. INTERVIEWS</p>
                    <p>Coding Challenge + General</p>
                    <p>We recruit based on aptitude, attitude and motivation</p>
                </div>
                <div class="column-item grey-background">
                    <h3>BOOTCAMP</h3>
                    <p>12-week Software Development bootcamp designed by industry-leading software engineers.</p>
                    <p>The course equips our learners with the skills required to contribute to a wide range of
                        projects.</p>
                    <p>Software Development is the main focus but it doesn’t stop there, our learners also gain
                        experience in planning and designing solutions, managing projects, as well as testing code
                        effectively.</p>
                </div>
                <div class="column-item grey-background">
                    <h3>PLACEMENTS & HIRING</h3>
                    <p>Post-bootcamp, learners (‘TechSwitchers’) progress to become full-time employees of TechSwitch
                        and start their placements with our hiring partners.</p>
                    <p>Hiring partners have the opportunity to convert a TechSwitcher to their permanent employ.</p>
                </div>
            </div>
            <div class="button-row button-row-gap-above">
                <a href="/faq" class="button button-black-on-yellow-on-black">See more</a>
            </div>
        </div>


        <div class="section white-background black-text">
            <h2>WHY PARTNER WITH TECHSWITCH?</h2>

            <div class="row">
                <div class="text-no-image black-text grey-background">
                    <h2 class="uppercase">Versatility</h2>
                    <p>Most businesses require staff that can understand the full lifecycle, and transition between
                        different roles when needed. Managing a small project, setting up a CI pipeline, designing a new
                        page, writing high quality code, system-testing a product – we’d expect our technical staff to
                        be
                        able to do any of these. It makes resourcing much easier if your staff are multi-dimensional. We
                        believe in truly cross-functional teams, and that comes from a diverse skill set – built on a
                        foundation of excellence in software engineering. </p>
                </div>
            </div>

            <div class="row">
                <div class="text-no-image black-text grey-background">
                    <h2 class="uppercase">Soft Skills</h2>
                    <p>Soft skills can make a huge difference to how successful delivery team members are. We select
                        candidates not merely on their potential as developers but what other expertise they bring to
                        the
                        table. And we consider it an essential part of training to bring out the best in people in all
                        areas
                        and to help them instill good habits. This is all achieved by better diversity of recruitment –
                        something we take very seriously, and have strong supporting networks to help with.</p>
                </div>
            </div>

 
                <div class="text-no-image black-text grey-background">
                    <h2 class="uppercase">Genuine Understanding</h2>
                    <p>As a developer, it’s far more important to understand the fundamental principles of software
                        development than it is to know exactly how to do any one particular task. Everyone has access to
                        resources such as Stack Overflow but those resources won’t usually help explain the big picture,
                        or
                        why one approach might be better than another. The most valuable employees are the ones who
                        understand the objectives and requirements – even the ones that aren’t made explicit - and can
                        use
                        their own judgement and experience as they research the best way of implementing the detail.</p>
                </div>

        </div>
    </main>

    {% include our-recent-techswitchers.html %}

    {% include companies-weve-worked-with.html %}

    {% include get-in-touch.html content="Interested in hiring software developers from TechSwitch? Get in touch for
    more details." %}

    {% include footer.html %}

</body>

</html>