---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="contact-form.js" async></script>
    <script src="console-message.js" async></script>

    <title>How to Apply | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}

    <main id="maincontent">
        <div class="hero-box">
            <picture>
                <source media="(orientation: landscape) and (min-width: 961px)"
                    srcset="images/course-hero-1920-1280.jpg" />
                <source media="(orientation: landscape) and (min-width: 526px)"
                    srcset="images/course-hero-960-640.jpg" />
                <source media="(orientation: landscape)" srcset="images/course-hero-525-350.jpg" />
                <source media="(orientation: portrait) and (min-width: 641px)"
                    srcset="images/course-hero-1280-1280.jpg" />
                <source media="(orientation: portrait) and (min-width: 351px)"
                    srcset="images/course-hero-640-640.jpg" />
                <source media="(orientation: portrait)" srcset="images/course-hero-350-350.jpg" />
                <img src="images/course-hero-1920-1280.jpg" style="object-position: 75% 25%;"
                    alt="Trainer demonstrating agile software development to learners on the bootcamp." />
            </picture>
            <h1 class="tagline-phrase">
                <span class="tagline">How to apply to TechSwitch</span>
            </h1>
        </div>
        <div class="button-row float-over-hero-image">
            <a href="/application-form" class="button button-black-on-yellow-on-black">Application Form</a>
        </div>


        <div class="section yellow-background black-text">
            <h2>The Application Form</h2>
            <div class="medium-width-text black-text">
                <p>As part of the application form we will ask you to include a cover letter and CV.</p>
                <p>Your CV should give us a general idea of your background and previous experience as well as if you
                    have had any experience with coding yourself e.g. an online course, following free tutorials or
                    other bootcamps.</p>
                <p>Your cover letter should include a little about yourself, your background and what made you decide to
                    retrain as a Software Developer.</p>
            </div>
        </div>

        <div class="section black-background white-text">
            <h2>Online Tests</h2>

            <div class="medium-width-text white-text">
                <p>The next stage of the application process is to take a series of online tests. You will be able to
                    take
                    these at any time and in any order. One of the online tests will involve writing some code of your
                    own
                    in JavaScript. If you have never written any JavaScript or code before, don't worry as we provide
                    pre-reading to teach you some basic JavaScript and help you prepare for the coding test.</p>
                <p>Two of the tests do not require coding and are logic puzzles. You do not need to have completed the
                    pre-reading in order to take these.</p>
                <p>The third test is the coding test. We generally recommend that applicants to TechSwitch select Level
                    1
                    unless they have substantial coding experience. There is a practice test you can complete before
                    taking
                    the coding test. The test is split into three questions and you must finish each one before moving
                    on to
                    the next. There is a total of four hours to complete all three tests (this does not include the
                    practice
                    test.)</p>
                <p>Once you have completed all of the online tests we aim to let you know if you have progressed to the
                    interview stage within 1 working day.</p>

                <h3>Check out our JavaScript pre-reading for Windows or Mac</h3>

                <div class="button-row button-row-gap-above">
                    <a href="/static/TechSwitch_Javascript_Pre-Reading.pdf" class="button button-yellow-on-black-on-black" target="_blank">Windows</a>
                    <a href="/static/TechSwitch_Javascript_Pre-Reading_-_Mac.pdf" class="button button-black-on-yellow-on-black" target="_blank">Mac</a>
                </div>
            </div>
        </div>

        <div class="section yellow-background black-text">
            <h2>Interview Stage</h2>
            <div class="medium-width-text black-text">
                <p>The final stage of the application process is the interview.</p>
                <p>This will be split into two sections. One will be a coding challenge which our trainer will help
                    guide you through and the other is a more general chat.</p>
                <p>The interview will generally take no more than 2 hours total and we use an informal format so feel
                    free to
                    dress casually.</p>
            </div>
        </div>

        <div class="section black-background white-text">

            <h2>Ready to apply for our January cohort?</h2>

            <div class="button-row button-row-gap-above">
                <a href="/application-form" class="button button-yellow-on-black-on-black">Apply here</a>
            </div>
        </div>



    </main>

    {% include get-in-touch.html content="If you're interested in applying or just want to know more, drop us a line here!" %}

    {% include footer.html %}

</body>

</html>