---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Make a career change into tech with our 12-week software development bootcamp.">

    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/contact-form.js" async></script>
    <script src="/console-message.js" async></script>

    <title>Privacy Policy | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
    {% include header.html %}
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3GM4T5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    

    <main id="maincontent">
        <div class="section black-background white-text">
            <h2>TechSwitch Privacy Policy</h2>
            <div class="text-only full-width-text">
                <h3>Who We Are</h3>
                <p>“TechSwitch” is a trading name of Softwire Technology Limited with company number 3824658 (“Softwire”).
                </p>
                <div class="two-columns">
                    <div>
                        <h4>Office Address</h4>
                        <p>Suite 110, Highgate Studios</p>
                        <p>53-79 Highgate Road</p>
                        <p>Kentish Town</p>
                        <p>London NW5 1TL</p>
                    </div>
                    <div>
                        <h4>Registered Company Address</h4>
                        <p>Gallery Court</p>
                        <p>28 Arcadia Avenue</p>
                        <p>Finchley</p>
                        <p>London N3 2FT</p>
                    </div>

                </div>
                <p>Telephone: 0207485 7500</p>
                <p>Email: info@techswitch.co.uk</p>

                <h3>About This Privacy Notice</h3>
                <p>TechSwitch is committed to ensuring that your privacy is protected. This Privacy Policy describes how
                    TechSwitch collects,
                    uses and protects the personal information we collect about you when you:</p>
                <ul>
                    <li>visit our website</li>
                    <li>apply for a training course</li>
                    <li>attend a training course</li>
                </ul>

                <p>As this Privacy Policy is updated, the current version can be accessed using the web-link provided or
                    will be made available upon request.</p>

                <h3>How We Collect & Use Your Information</h3>
                <p>When you access our website it uses cookies to record the basic information provided by your web browser.
                    This information is purely technical and does not contain any personal details. We also make use of
                    third party analytics cookies to provide anonymised information on website usage. We use this data to
                    assist with problems that may arise in relation to this website and to aggregate access trends to
                    provide a better browsing experience. In addition, we use third party analytics to identify key business
                    individuals who may benefit from hearing about our services. When we contact business individuals about
                    our services, we allow them to opt out of receiving future marketing communications from us.</p>

                <p>You can contact us directly or you can register your contact details with us and when you do so:</p>
                <ul>
                    <li>you consent to us contacting you using the details you have provided so that we can respond to your
                        request;</li>
                    <li>personal information that you share with us will only be used for the purposes for which you have
                        provided it;</li>
                    <li>we protect the security of the personal information you provide against unauthorised access and
                        misuse using appropriate technical and operational measures;</li>
                    <li>we do not rent, sell, or share personal information about you with any other organisations;</li>
                    <li>we hold your personal information on our systems only for as long as necessary for the relevant
                        activity or as required by law.</li>
                </ul>

                <p>If you are under the age of 16, please get the permission of your parent or guardian before sending any
                    of your personal information to us.</p>

                <p>If you apply to attend a TechSwitch training course, we collect personal information directly from you in
                    order to assess your application and to enrol you on a course if your application is successful.
                    Examples of information we may collect are: </p>
                <ul>
                    <li>your name, address and contact details</li>
                    <li>your education, training and professional development history</li>
                    <li>information recorded during skills tests and interviews</li>
                    <li>information you have made publicly available about yourself on social media networks and databases
                    </li>
                    <li>your billing, transaction and payment card information</li>
                    <li>photographic ID</li>
                </ul>
                <p>As part of the assessment, we may also collect your personal information from third parties such as
                    recruitment agencies,
                    colleagues who recommend you, individuals or companies you have previously worked for and agencies
                    performing security
                    screening checks to facilitate your placement on assignments following successful completion of a
                    course. </p>
                <p>As a candidate for or a participant on a course, we may ask you for diversity information (e.g. gender,
                    nationality, ethnicity)
                    and if you agree to provide this, it will be used only for internal statistical purposes to help us to
                    promote diversity and
                    equality at TechSwitch. We may also, if necessary, record special (more sensitive) categories of
                    information (e.g. information
                    about your physical or mental health) in order to make reasonable adjustments to facilitate your
                    application for and attendance
                    on a course and to ensure that we comply with laws and regulations. </p>
                <p>As a course participant, we will record information about your attendance and progress on the course.
                    We may ask you to respond to surveys to collect feedback which we will use as guidance for improvements
                    to the course. We may also ask for your consent to film, photograph or record you as part of the
                    creation
                    of content to promote the course. </p>

                <h3>How We Share Your Information</h3>

                <p>We share your personal information within TechSwitch to a limited extent with individuals who need the
                    information to perform
                    their role in providing courses, such as course tutors and those who manage invoicing. When dealing with
                    your application for
                    a course, we may also share your personal information with third parties such as academic institutions
                    (to verify qualifications),
                    individuals and companies providing references and companies providing services such as security
                    screening checks. </p>
                <p>Under limited circumstances, your personal data may be transferred to countries outside the EEA, for
                    example by third
                    party service providers delivering centralised support for their IT platform from the US. In such cases,
                    we ensure that
                    the transfer complies with the relevant data protection legislation.</p>

                <h3>Reasons We Collect and Use Your Information</h3>
                <ul>
                    <li>Where it is necessary to perform our contract with you</li>
                    <li>Where it is required by law</li>
                    <li>Where you have provided consent</li>
                    <li>Where it is necessary for our legitimate business interests such as:
                        <ul>
                            <li>responding to enquiries</li>
                            <li>providing training services</li>
                            <li>improving and developing our services</li>
                            <li>the administration of our business</li>
                            <li>promoting our business</li>
                        </ul>
                    </li>
                </ul>

                <h3>How We Protect Your Information</h3>
                <p>We protect the security of the personal information you provide against unauthorised access and misuse
                    using appropriate technical
                    and operational measures and by requiring third party suppliers who we share your information with to do
                    the same. </p>

                <h3>Retention of Information</h3>
                <p>We hold your personal information on our systems in compliance with laws and regulations, for no longer
                    than is necessary
                    for the purposes for which we collected it, or for as long as we have your consent to do so if this is
                    our legal basis for processing such data. </p>

                <h3>Your Rights</h3>
                <p>You have the right to ask for a copy of the personal information TechSwitch holds about you. You can
                    object to or ask us to restrict the
                    processing of your information, request that we remove the personal data we hold about you, or ask us to
                    correct it if it is inaccurate
                    or out of date. If we have a legitimate reason not to fulfil your request, we will communicate this to
                    you. If you believe that we
                    have not complied with your data protection rights, you can complain to the Information Commissioner.
                </p>

                <p>If you wish to contact us for any reason in connection with this Candidate Privacy Notice, please do so
                    by email to
                    info@techswitch.co.uk or by telephone on 020 7485 7500 or in writing to TechSwitch, 110 Highgate Studios,
                    53-79 Highgate Road, London NW5 1TL</p>
            </div>
        </div>
    </main>

    {% include footer.html %}
</body>

</html>
