---
---

<!DOCTYPE html>

<html>

<head>
    {% include analytics.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="contact-form.js" async></script>
    <script src="console-message.js" async></script>

    <title>Terms of Training | TechSwitch</title>
</head>

<body>
    {% include header.html %}

    <div class="section black-background white-text">
        <h2>TechSwitch Training Course</h2>
        <h2>Terms and Conditions</h2>
        <div class="text-only full-width-text">
            <ol type="A">
                <li>These Terms and Conditions and the Booking Form (as defined in paragraph 2 below) together
                    constitute the “Agreement” and are the basis on which we provide training to Students accepted
                    to attend a course. </li>
                <li>By sending a signed copy of the Booking Form or paying a deposit against the course fees you
                    confirm your acceptance of the course place offered to you in the Booking Form and agree to be
                    bound by the terms of the Agreement.</li>
                <li>We draw your attention to our privacy policy which you can view at:
                    <a href=http://www.TechSwitch.uk/privacy-policy.>www.TechSwitch.uk/privacy-policy </a> </li> </ol>
                        <h3>1. Company Information</h3>
                        <p>“TechSwitch” is a trading name of Softwire Technology Limited with company number 3824658
                            (“Softwire”).</p>
                        <div class="two-columns">
                            <div>
                                <h4>Office Address</h4>
                                <p>Suite 110, Highgate Studios</p>
                                <p>53-79 Highgate Road</p>
                                <p>Kentish Town</p>
                                <p>London NW5 1TL</p>
                            </div>
                            <div>
                                <h4>Registered Company Address</h4>
                                <p>Gallery Court</p>
                                <p>28 Arcadia Avenue</p>
                                <p>Finchley</p>
                                <p>London N3 2FT</p>
                            </div>

                        </div>
                        <p>Telephone: 0207485 7500</p>
                        <p>Email: info@TechSwitch.uk</p>

                        <h3>2. Definitions</h3>
                        <p>2.1. “Booking Form” means the course booking form sent to a Student by TechSwitch offering
                            the Student a place on a TechSwitch training course and detailing the relevant course start
                            date, deposit and fees.</p>
                        <p>2.2. “Confidential Information” means all proprietary information about Softwire and
                            TechSwitch that, if disclosed, could affect our business, including but not limited to:</p>
                        <ol>
                            <li>information about staff and prospective staff, their lives and their personal contact
                                information;</li>
                            <li>information about our businesses, training courses, methods of doing business, future
                                plans, policies, suppliers and customers;</li>
                            <li>information and data provided to us by or on behalf of customers and other third
                                parties;</li>
                            <li>information about the intellectual property we use in our business.</li>
                        </ol>
                        <p>2.3. “Intellectual Property Rights” means intellectual property of every sort, whether or not
                            registered or registrable in any country and includes among other things (i) intellectual
                            property of kinds coming into existence after today and (ii) patents, trademarks,
                            unregistered marks, designs, copyrights, software, domain names, discoveries, know-how,
                            creations and inventions, together with all rights which are derived from those rights.</p>
                        <p>2.4. “Promotional Content” means marketing, educational or other content to promote or
                            publicise TechSwitch. </p>
                        <p>2.5. “Student Content” means any text, files, images, photos, videos or works of authorship
                            that you submit to us during a course (but shall not include any content, materials or
                            information that you have downloaded, copied or otherwise obtained from us, which you hereby
                            acknowledge is owned by us or our licensors).</p>
                        <p>2.6. “Student” or “you” means the individual identified on a Booking Form as a student (and
                            “your” shall be construed accordingly).</p>
                        <p>2.7. “we” means TechSwitch and/or Softwire (and “us/our” shall be construed accordingly).</p>

                        <h3>3. Course Details</h3>
                        <p>3.1. Each TechSwitch course will last for 12 calendar weeks (Monday-Friday excluding public
                            holidays, 9:00am to 5:30pm including a lunchbreak of one hour). </p>
                        <p>3.2. The course start date and fees are stated on the Booking Form sent to you by TechSwitch.
                        </p>
                        <p>3.3. Details of course content are available on the TechSwitch website at:
                            http://www.TechSwitch.uk/course. TechSwitch reserves the right to change the course content
                            from time to time and if it does so it will update the website page accordingly.</p>
                        <p>3.4. Subject to your successful participation in the course (as reasonably determined by us)
                            we will offer you a written contract of employment. If agreed, we will endeavour to offer
                            temporary assignments to you to work as a software developer for third-party hirers under
                            the agreed contract terms. </p>

                        <h3>4. Expectations of Students</h3>
                        <p>4.1. TechSwitch expects students to: </p>
                        <ol>
                            <li>participate fully in the course;</li>
                            <li>behave at all times in a considerate manner, treating other students and course tutors
                                with courtesy and respect; and</li>
                            <li>comply with all policies made available to them of TechSwitch or the premises in which
                                the TechSwitch courses are held, including but not limited to policies on information
                                security and health and safety.</li>
                        </ol>
                        <p>4.2. TechSwitch reserves the right to remove any students from the course if we find that
                            they are behaving inappropriately. If we have to do this, no refund of course fees or other
                            costs will be made.</p>

                        <h3>5. Fees and Payment Terms</h3>
                        <p>5.1. Anyone accepted on a TechSwitch course is required to pay the deposit stated on the
                            Booking Form to secure their place on the course.</p>
                        <p>5.2. Subject to clause 6, the deposit will be non-refundable and will be deducted from the
                            total course fees owed.</p>
                        <p>5.3. Following payment of the deposit, the student must pay 100% of the fee stated on the
                            Booking Form for the relevant course (less the deposit) so that it is received in our bank
                            account not later than 5 working days before the start of the course.</p>
                        <p>5.4. If payment in full is not received by TechSwitch in its bank account not later than 5
                            working days before the start of the course, the Student will no longer be able to attend
                            the course and will not be entitled to be repaid their deposit.</p>
                        <p>5.5. The Student shall pay the deposit and course fees by bank transfer to TechSwitch’
                            nominated bank account stated on TechSwitch’ invoice.</p>

                        <h3>6. Reimbursement Policy</h3>
                        <p>6.1. Subject to clauses 6.2, 6.3 and 6.4, any deposit or course fee paid by the Student is
                            non-refundable. </p>
                        <p>6.2. If a course on which the Student is enrolled is cancelled (whether prior to the course
                            commencing, or after its commencement) by TechSwitch, any deposit and fee which has been
                            paid by the Student for the applicable course will be refunded in full and TechSwitch will
                            have no further liability to the Student.</p>
                        <p>6.3. If a course is temporarily suspended for a period of less than one month no course fees
                            will be refunded. If a course is suspended for a period of longer than one month, Students
                            enrolled on that course will be given the option of continuing the course when it resumes or
                            receiving a pro-rata refund of course fees for the suspended part of the course (based on
                            the number of full weeks of the course that were suspended, as a percentage of the total
                            number of course weeks).</p>
                        <p>6.4. Following completion of a course, if you agree a contract of employment with us pursuant
                            to clause 3.4, we will reimburse in full any deposit and fee you have paid for the
                            applicable course within 60 days of contract signature by both parties.</p>

                        <h3>7. Right to Study & Work</h3>
                        <p>7.1. All Students must have the right to study and to work in the UK under applicable UK
                            rules, and hold a current visa if necessary. A guide to these rules can be found at: <a
                                href="http://www.ukba.homeoffice.gov.uk/visas-immigration">www.ukba.homeoffice.gov.uk/visas-immigration</a>
                        </p>
                        <p>7.2. Please note that TechSwitch is not currently an accredited institution for the purposes
                            of the “student visitor” category.</p>
                        <p>7.3. Students will be required to produce photographic ID (either Passport or Driving
                            Licence) on enrolment on a course. If you intend to rely on other documents, you should
                            provide full details to TechSwitch when applying for a course. </p>
                        <p>7.4. You hereby consent to undergo security screening checks (e.g. Baseline Personnel
                            Security Standard (BPSS) checks) to facilitate your placement on assignments pursuant to
                            clause 3.4.</p>

                        <h3>8. Liability</h3>
                        <p>8.1. Except in respect of death or personal injury caused by TechSwitch’ negligence or
                            TechSwitch’ fraud, TechSwitch shall not be liable (to the extent able to be excluded at law)
                            to any Student by reason of any representation (unless fraudulent), or any implied warranty,
                            condition or other term, or any duty at common law, or under the express terms of the
                            contract for any loss of profit or any indirect, special or consequential loss, damage,
                            costs, expenses or other claims (whether caused by the negligence of TechSwitch, its
                            servants or agents or otherwise) which arise out of or in connection with the provision of
                            the TechSwitch course and the entire liability of TechSwitch under or in connection with the
                            course shall not exceed the amount of TechSwitch’ charges for the course on which the
                            Student is or has applied to be enrolled.</p>
                        <p>8.2. TechSwitch shall not be liable to the Student or be deemed in breach of contract by
                            reason of any delay or failure to perform any of TechSwitch’ obligations in relation to the
                            course if this was due to any cause beyond TechSwitch’ reasonable control.</p>

                        <h3>9. Confidentiality & Publicity</h3>
                        <p>9.1. Without our prior written consent, you will not: </p>
                        <ol>
                            <li>disclose Confidential Information to any third party; or</li>
                            <li>make or permit to be made copies or other reproductions of Confidential Information; or
                            </li>
                            <li>make any commercial use of Confidential Information.</li>
                        </ol>
                        <p>9.2. Upon our request, you will immediately return all original materials provided by us and
                            any copies, notes or other documents in your possession pertaining to Confidential
                            Information.</p>
                        <p>9.3. You will not do anything or seek to do anything that may bring TechSwitch or Softwire
                            into disrepute or reduce, diminish or damage the public reputation of TechSwitch or
                            Softwire.</p>

                        <h3>10. Intellectual Property</h3>
                        <p>10.1. We do not claim any ownership of any Intellectual Property Rights in your Student
                            Content. After submitting Student Content to us, you retain all rights of ownership which
                            you have subsisting in it and you may use it in any way you choose (provided it does not
                            breach any terms of the Agreement or any applicable laws).</p>
                        <p>10.2. You warrant that you own the Intellectual Property Rights in and to all Student Content
                            that you submit to us or you are otherwise entitled to submit the same to the TechSwitch
                            website.</p>
                        <p>10.3. You hereby grant us a non-exclusive, irrevocable, perpetual, royalty-free, worldwide
                            licence to use your Student Content in order to publicise and promote TechSwitch and courses
                            run by us, including without limitation the right to publicly perform, reproduce, display,
                            modify, manage, distribute and store any of your Student Content as part of our website or
                            as part of any materials used to promote or advertise TechSwitch anywhere in the world. We
                            shall not otherwise distribute or sell any of your Student Content without your permission.
                        </p>
                        <p>10.4. We will not be under any obligation whatsoever to pay you for any of the Student
                            Content used in accordance with these terms and conditions. </p>
                        <p>10.5. Save in respect of the Student Content, all Intellectual Property Rights in and to the
                            all content, materials and information provided to you by us during the course are owned by
                            and shall remain owned by us or our licensors.</p>
                        <p>10.6. You may view, download and print any content, materials and information made available
                            to you by us during the course subject to the following conditions:</p>
                        <ol>
                            <li>The content, materials and information may only be used for your personal use; save as
                                expressly permitted by us in these Terms and Conditions.</li>
                            <li>The content, materials and information shall not be reproduced or included in any other
                                work or publication in any medium.</li>
                            <li>The content, materials and information may not be modified, decompiled, reverse
                                engineered, disassembled or altered in any way unless they are specifically provided for
                                these purposes or on terms that permit these acts.</li>
                            <li>Save as expressly permitted by us in these Terms and Conditions, the content, material
                                and information may not be distributed or sold to any third party.</li>
                            <li>you may not remove any copyright or other proprietary notices contained in the content,
                                material or information.</li>
                        </ol>

                        <h3>11. Photography, Filming, Video Recording, Etc.</h3>
                        <p>11.1. TechSwitch may film, photograph or record you as part of the creation of Promotional
                            Content to promote or publicise TechSwitch and may permit other companies to carry out
                            similar projects.</p>
                        <p>11.2. You hereby agree that the Intellectual Property Rights in respect of any Promotional
                            Content shall vest in and are hereby assigned to TechSwitch and you grant all necessary
                            consents that may be required under any legislation or regulation in any jurisdiction to
                            permit the Promotional Content or any part of it to be exhibited or otherwise exploited by
                            all means and in all media and formats throughout the universe for the full period of
                            copyright and all renewals, revivals, reversions and extensions thereof and thereafter so
                            far as may be possible in perpetuity. You further confirm that you shall not seek to enforce
                            any rights to equitable remuneration in respect of any rental and lending and cable
                            re-transmission rights in the Promotional Content.</p>
                        <p>11.3. Without limiting the foregoing in any way, we shall be entitled to (a) alter, adapt or
                            make additions to or deletions from the Promotional Content (and your appearance therein) at
                            our discretion, (b) make and exploit and to authorise the making and exploitation of any
                            recording or fixation of your appearance separately from or in conjunction with the
                            Promotional Content throughout the Universe in perpetuity by all means and in all media
                            whether now known or hereafter invented including without limitation by way of any
                            interactive, online telephony or new media application; (c) dub your voice in any language;
                            and (d) include your name, likeness, voice, biographical details, photographs of you and
                            recordings of interviews with you separately from or in conjunction with the Promotional
                            Content by all means and in all media and formats throughout the Universe including but not
                            by way of limitation in advertising, publicity and exploitation material.</p>
                        <p>11.4. You acknowledge that no repeat fees or any other fees shall be payable to you in
                            respect of any subsequent rebroadcast or retransmission or any other use by us (or any
                            assignees or licensees) of the Promotional Content or any part thereof.</p>
                        <p>11.5. You hereby waive any so-called ‘moral rights’ in the Promotional Content and such
                            rights under section 77 and section 80 of the Copyright Designs and Patents Act 1988 as you
                            now has or may hereafter acquire in relation to the Promotional Content. Accordingly, we
                            shall have the unfettered right to modify the Promotional Content or any part of it in any
                            way that we think fit.</p>
                        <p>11.6. We shall be entitled to assign the benefit of this section 9 either in whole or in part
                            to any to any of our subsidiary or associated companies or successors in title and/or any
                            third party.</p>
                        <p>11.7. You agree that in the event of any breach of these terms and conditions by us, you
                            shall not be entitled to enjoin and/or injunct the distribution and/or exploitation of the
                            Promotional Content and any legal remedy you may have shall lie in an action at law for
                            damages (subject to the limitations set out in section 8).</p>

                        <h3>12. Complaints Policy</h3>
                        <p>12.1. If a Student is not satisfied with any aspect of TechSwitch, whether that be the course
                            content, curriculum, facilities or any other issue, they should first raise their concern
                            with the relevant course tutor.</p>
                        <p>12.2. If a discussion or correspondence with the relevant course tutor does not
                            satisfactorily resolve the Student’s concern, or the Student does not feel they are able to
                            raise the concern with the course tutor (for example because it relates to the tutor’s
                            personal performance) the complaint should be raised with Sasha Burgoyne, Course Mentor, by
                            email to <a href="mailto:sasha@TechSwitch.uk">sasha@TechSwitch.uk</a>. This can be escalated
                            to Gareth Johnson, Head of TechSwitch by
                            email to <a href="gareth@TechSwitch.uk">gareth@TechSwitch.uk</a>. </p>

                        <h3>13. Governing Law and Jursdiction</h3>
                        <p>13.1. These terms and conditions are governed by and are to be construed in accordance with
                            English law, and any dispute arising out of these terms and conditions is subject to the
                            exclusive jurisdiction of the courts of England and Wales.</p>

        </div>

    </div>

    {% include footer.html %}
</body>

</html>