---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
            name="viewport"
    />
    <meta
            content="Make a career change into tech with our 12-week software development bootcamp."
            name="description"
    />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-K3GM4T5");
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] =
                c[a] ||
                function () {
                    (c[a].q = c[a].q || []).push(arguments);
                };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "a532331rj3");
    </script>

    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <script async src="/console-message.js"></script>

    <title>Thank You | TechSwitch</title>

    {% include analytics.html %}
</head>

<body>
{% include header.html %}
<!-- Google Tag Manager (noscript) -->
<noscript
>
    <iframe
            height="0"
            src="https://www.googletagmanager.com/ns.html?id=GTM-K3GM4T5"
            style="display: none; visibility: hidden"
            width="0"
    ></iframe
    >
</noscript>
<!-- End Google Tag Manager (noscript) -->

<main class="thank-you px-4" id="maincontent">

</main>

{% include footer.html %}
</body>