<div class="section white-background">
  <h2 class="section white-background">Our Hiring Partners</h2>

  <div class="companies-weve-worked-with">
    <picture>
      <img src="/images/logo-prime-video.png" alt="Amazon Prime Video logo" />
    </picture>
    <picture>
      <img src="/images/logo-amazon.png" alt="Amazon logo" />
    </picture>
    <picture>
      <img src="/images/logo-softwire.png" alt="Softwire logo" />
    </picture>
    <picture>
      <img src="/images/logo-angeltrains.png" alt="Angel Trains logo" />
    </picture>
  </div>
</div>
