<footer>
    <div class="row">
        <a class="social-link" href="https://twitter.com/TechsmithsUK">
            <img src="images/twitter-logo.svg" alt="Follow Techsmiths on Twitter">
        </a>
        <a class="social-link" href="https://www.linkedin.com/company/techsmithsuk">
            <img src="images/linkedin-logo.svg" alt="Follow Techsmiths on LinkedIn">
        </a>
    </div>
    <ul class="footer-links">
        <li><a href="/privacy-policy.html">Privacy Policy</a></li>
    </ul>
    <p class="copyright">
        © 2019 Softwire Technology Limited. All rights reserved.
    </p>
</footer>
