<div
  class="section white-background checkerboard-grid grid-no-gap grid-picture-first"
>
  <div class="row">
    <picture>
      <source
        media="(min-width: 601px)"
        srcset="/images/techswitch-hoodie-x500.jpg"
      />
      <img
        src="/images/techswitch-hoodie-letterbox-560-187.jpg"
        alt=""
      /><!-- alt="" because this image is just for decoration -->
    </picture>
    <div class="text black-text grey-background">
      <h2 id="get-in-touch-title">Get in touch</h2>
      <p>{{ include.content }}</p>
      <p><a href="mailto:info@techswitch.co.uk">info@techswitch.co.uk</a></p>
      <p><a href="tel:+442039283005">02039283005</a></p>

      <div class="contact-us-form" id="contact-us-form">
        <input
          type="text"
          id="contact-us-form-name"
          placeholder="Name"
          aria-describedby="get-in-touch-title"
        />
        <input
          type="email"
          id="contact-us-form-email"
          placeholder="Email"
          aria-describedby="get-in-touch-title"
        />
        <textarea
          rows="6"
          id="contact-us-form-message"
          placeholder="Message"
          aria-describedby="get-in-touch-title"
        ></textarea>
        <button
          type="button"
          class="spinner"
          onclick="submitContactUsForm();"
          aria-describedby="get-in-touch-title"
        >
          Send
        </button>
        <div class="error-message">
          Sorry, that didn't work.<br aria-hidden="true" />Please try emailing
          us at <a href="mailto:info@techswitch.co.uk">info@techswitch.co.uk</a>
        </div>
      </div>
    </div>
  </div>
</div>
