<a id="skip-link" href="#maincontent">Skip to main content</a>
<header>
    <a href="/" class="logo-container">
        <img src="/images/logo.svg" class="logo" alt="Techswitch logo" />
    </a>
    
    <input type="checkbox" id="menu" class="menu-checkbox" />
    <label for="menu" class="menu-button">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </label>
    <nav>
        <a href="/" {% if page.url == "/" %} class="selected" {% endif %} >Home</a>   
        <div class="nav-parent">
            <a href="/course" class="nav-parent {% if page.url == "/course.html" %} selected{% endif %} ">Course</a>
            <div class="nav-children">
                <a href="/how-to-apply" {% if page.url == "/how-to-apply.html" %} class="selected" {% endif %} >How to Apply</a>
                <a href="/application-form" {% if page.url == "/application-form.html" %} class="selected" {% endif %} >Application Form</a>
            </div>
        </div>
        <a href="/hire" {% if page.url == "/hire.html" %} class="selected" {% endif %} >Hire</a>  
        <a href="/diversity" {% if page.url == "/diversity.html" %} class="selected" {% endif %} >Diversity</a>
        <a href="/about" {% if page.url == "/about.html" %} class="selected" {% endif %} >About</a>
        <a href="/blog" {% if page.url == "/blog.html" %} class="selected" {% endif %} >Blog</a>
        <a href="/faq.html" {% if page.url == "/faq.html" %} class="selected" {% endif %} >FAQ</a>
        <a href="/contact" {% if page.url == "/contact.html" %} class="selected" {% endif %} >Contact</a>
    </nav>
</header>
