<div class="section yellow-background">
    <h2>Meet our recent Techswitchers</h2>

    <div class="picture-name-quote">
        <picture>
            <img src="images/jake-square-150.jpg" alt="Photo of Jake">
        </picture>
        <div class="name">Jake</div>
        <p class="quote">
            I came in to this course with almost no prior knowledge of programming and through it secured a full-time
            developer role. Whilst the course is fast-paced and challenging, Techswitch does a great job of ensuring you
            feel truly valued and supported throughout by offering great teaching, frequent one-on-one chats and, if you
            need it, extra mentoring and tasks to make sure you nail those core concepts. The course has undoubtedly
            fast-tracked my career, and with the added safety net of expert tuition, top-end technology and even mock
            interviewing, I would highly recommend Techswitch to anyone looking to get in to software development.
        </p>
    </div>

    <div class="picture-name-quote">
        <picture>
            <img src="images/kapil-square-150.jpg" alt="Photo of Kapil">
        </picture>
        <div class="name">Kapil</div>
        <p class="quote">
            The Techswitch course has been such a great experience for me personally. While coding was what drew me to
            software development, the Techswitch course develops you to be a good software engineer. Of course, there’s
            a lot of coding involved as well! But less common topics, that are brushed off in online tutorials, are
            given equal (and sometimes more) importance. Things like learning git, the importance of testing, and
            working in an agile way have definitely given me a true understanding of what it means to be a real software
            engineer. On top of that, the actual course itself is really fun which makes coming in everyday so
            motivating and gets you genuinely excited to start a career in software development.
        </p>
    </div>

    <div class="picture-name-quote">
        <picture>
            <img src="images/jed-square-150.jpg" alt="Photo of Jed">
        </picture>
        <div class="name">Jed</div>
        <p class="quote">
            The course starts with writing basic code and very quickly develops into larger and more challenging
            projects. Each week involves new techniques and technologies across a wide range of applications which
            provides the basis which you can build upon independently or with the help of the trainer. It not only
            teaches you how to program but shows you what a job might involve in the industry to prepare you for a job
            in the future.
        </p>
    </div>
</div>