<div class="section yellow-background">
    <h2>Meet our recent Techswitchers</h2>

    <div class="picture-name-quote">
        <picture>
            <img src="images/jake-square-150.jpg" alt="Photo of Jake">
        </picture>
        <div class="name">Jake</div>
        <p class="quote">
            <span class="visually-hidden">Quote from Jake: </span>
            I came in to this course with almost no prior knowledge of programming and through it secured a full-time
            developer role. Whilst the course is fast-paced and challenging, Techswitch does a great job of ensuring you
            feel truly valued and supported throughout by offering great teaching, frequent one-on-one chats and, if you
            need it, extra mentoring and tasks to make sure you nail those core concepts. The course has undoubtedly
            fast-tracked my career, and with the added safety net of expert tuition, top-end technology and even mock
            interviewing, I would highly recommend Techswitch to anyone looking to get in to software development.
        </p>
    </div>

    <div class="picture-name-quote">
        <picture>
            <img src="images/kapil-square-150.jpg" alt="Photo of Kapil">
        </picture>
        <div class="name">Kapil</div>
        <p class="quote">
            <span class="visually-hidden">Quote from Kapil: </span>
            The Techswitch course has been such a great experience for me personally. While coding was what drew me to
            software development, the Techswitch course develops you to be a good software engineer. Of course, there’s
            a lot of coding involved as well! But less common topics, that are brushed off in online tutorials, are
            given equal (and sometimes more) importance. Things like learning git, the importance of testing, and
            working in an agile way have definitely given me a true understanding of what it means to be a real software
            engineer. On top of that, the actual course itself is really fun which makes coming in everyday so
            motivating and gets you genuinely excited to start a career in software development.
        </p>
    </div>

    <div class="picture-name-quote">
        <picture>
            <img src="images/wendy-square-150.jpg" alt="Photo of Wendy">
        </picture>
        <div class="name">Wendy</div>
        <p class="quote">
            <span class="visually-hidden">Quote from Wendy: </span>
            Joining TechSwitch has transformed my career path. Although I had previously been self-studying code, I knew
            I needed industry-standard experience to navigate my way successfully into tech. TechSwitch provided a wide
            breadth of project-based learning in software development, along with both coding and career mentorship. The
            holistic approach to my growth meant that I felt supported every step of the way. Best of all, I came out
            even more enthusiastic about being a developer than when I started!
        </p>
    </div>
</div>