
@media (max-width: 1000px) {
    .section {
        padding: 5vw 0;
    }
}
 @media (min-width: 1001px) {
     .section {
        // padding: 50px 0;
     }
}

.section > h2 {
    text-align: center;
    font-size: 2rem;
    padding: 100px 20px;
    text-transform: uppercase;
}



.black-text {
    color: #181818;
}
.white-text {
    color: #ffffff;
}
.yellow-background {
    background-color: #ffc100;
}
.grey-background {
    background-color: #F0F0F0;
}
.black-background {
    background-color: #000000;
}
.white-background {
    background-color: #ffffff;
}
.image-background {
    background-image: url("/images/homepage-hero-1920-1280.jpg");
}


@media (max-width: 600px) {
    .full-page-header {
    padding: 150px 150px;
    background-color: #F0F0F0;
    color: #000000;
    text-align: center;
    }
}

@media (min-width: 601px) {
    .full-page-header {
        padding: 150px 150px;
        background-color: #F0F0F0;
        color: #000000;
        text-align: center;
        margin: 150px;
    }
}
.text-no-image {
    padding: 100px 150px;
    background-color: #F0F0F0;
    color: #000000;
    text-align: left;
    margin: 50px 100px
}

.uppercase {
    text-transform: uppercase;
}