
.blog {
    max-width: 960px;
    @media (min-width: 361px) {
        width: calc(100% - 40px);
    }

    margin: auto;
    padding: 20px 10px;
    @media (min-width: 601px) {
        padding: 30px 20px;
    }

    background-color: #f0f0f0;

    font-size: 1rem;
    line-height: 1.5;

    .blog-title {
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        color: #000000;
    }

    .yellow {
        color: #000000;
        text-transform: uppercase;
    }

    .read-more {
        font-weight: bold;
        font-size: 1.25rem;
        text-decoration: underline;
    }

    .date {
        font-style: italic;
    }

    border-bottom: 1px solid #ffc100;

    a {
        text-decoration: underline;
    }
}
