
.checkerboard-grid {

    .row {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 360px) {
        .row {
            width: 100%;
        }
    }
    @media (min-width: 361px) and (max-width: 600px) {
        .row {
            width: calc(100%);
        }
    }
    @media (min-width: 601px) {
        .row {
            width: calc(100%);
    
            display: flex;
            justify-content: space-between;
        }
    }

    &.grid-no-gap .row {
        background-color: #F0F0F0;
    }

    picture {
        display: block;
    }
    @media (max-width: 600px) {
        picture {
            width: 100%;
        }
    }

    @media (min-width: 601px) {
        &.grid-with-gap picture {
            width: calc(50%);
        }
        &.grid-no-gap picture {
            width: 50%;
        }
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    
    .text {
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width: 600px) {
        .text {
            position: relative;
        }
        .text h2 {
            color: #000000;
            text-transform: uppercase;
        }
    }

    @media (min-width: 601px) {
        &.grid-with-gap .text {
            width: calc(50% - 10px);
        }
        &.grid-no-gap .text {
            width: 50%;
        }
    }

    @media (min-width: 801px) {
        .text {
            padding: 50px 150px;
        }
    }
    
    @media (max-width: 600px) {
        .text h2 {
            margin: 0;
            padding: 10px;
    
            font-size: 8vw;
            text-transform: uppercase;
        }
    }
    @media (min-width: 601px) {
        .text h2 {
            font-size: 2rem;
            margin-top: 0;
            text-transform: uppercase;
        }
    }
    
    .text h3 {
        font-size: 1.5rem;
    }
    
    .text p {
        line-height: 1.5;
    }
    .text p:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 601px) {
        &.grid-picture-first .row:nth-of-type(odd) {
            flex-direction: row;
        }
        &.grid-picture-first .row:nth-of-type(even) {
            flex-direction: row-reverse;
        }
        &.grid-text-first .row:nth-of-type(odd) {
            flex-direction: row-reverse;
        }
        &.grid-text-first .row:nth-of-type(even) {
            flex-direction: row;
        }
    }
    
}
