
.contact-us-form {
    margin: 20px 0;
    
    input, textarea {
        display: block;
        width: 100%;
        resize: none;
        margin: 10px 0;
        padding: 5px;
    
        color: #000000;
        background: none;
        border: none;
        border-bottom: 1px solid #000000;
    }
    input::placeholder, textarea::placeholder {
        color: #000000;
    }
    
    .submit-button {
        display: block;
        width: 100px;
        margin: auto;
        padding: 10px;
        position: relative;
    
        color: #000000;
        background: none;
        border: 1px solid #000000;
    }
    &.sending .submit-button, &.success .submit-button, &.error .submit-button {
        color: transparent;
    }
    .submit-button::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: calc(50% - 10px);
        top: calc(50% - 11px);
    }
    &.sending .submit-button::after {
        border: 2px solid #000000;
        border-right: none;
        border-bottom: none;
        border-radius: 50%;
        animation-name: spin;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &.success .submit-button::after {
        content: '\2714';  // Unicode Tick: ✔️
        color: #000000;
    }
    &.error .submit-button::after {
        content: '\274C';  // Unicode Cross: ❌
        color: #000000;
    }
    
    .error-message {
        font-size: 0.75rem;
        text-align: center;
        visibility: hidden;
    }
    &.error .error-message {
        visibility: visible;
    }

}
