
footer {
    background-color: #ffffff;
    padding: 20px 0 10px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .row {
        padding-bottom: 5px;
    }

    .social-link {
        display: inline-block;
    }
    .social-link img {
        width: 40px;
        color: #000000;  /* For alt text */
        filter: contrast(0%);
    }
    .footer-links {
        margin-bottom: 10px;
        list-style-type: none;
        color: #000000;

        li {
            padding: 3px 7px;
        }

        @media (min-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    
    .copyright {
        margin: 0;
        color: #888;
        font-size: 0.8rem;
        text-align: center;
    }
    
}
