@media (min-width: 481px) {
  .column-container {
    margin: 50px;
  }
}

.column-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  // align-items: center;
  align-items: flex-start;
  padding: 25px;
  list-style: none;
}

@media (min-width: 961px) {
  .column-item {
    max-width: 40%;
  }
}

// Length of text in 3 columns *only* works on really rather large screens
@media (min-width: 1551px) {
  .column-item {
    max-width: 30%;
  }
}

.column-item {
  padding: 20px;
  margin-top: 10px;
  text-align: center;
}

.name {
  text-align: right;
}

.quotation-mark {
  content: '\201D';
  color: #000000;
}
